<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kishan_gupta.kidslearningapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".Alphabet" />
        <activity android:name=".LetterB" />
        <activity android:name=".LetterC" />
        <activity android:name=".LetterD" />
        <activity android:name=".LetterE" />
        <activity android:name=".LetterF" />
        <activity android:name=".LetterG" />
        <activity android:name=".LetterH" />
        <activity android:name=".LetterI" />
        <activity android:name=".LetterJ" />
        <activity android:name=".LetterK" />
        <activity android:name=".LetterL" />
        <activity android:name=".LetterM" />
        <activity android:name=".LetterN" />
        <activity android:name=".LetterO" />
        <activity android:name=".LetterP" />
        <activity android:name=".LetterQ" />
        <activity android:name=".LetterR" />
        <activity android:name=".LetterS" />
        <activity android:name=".LetterT" />
        <activity android:name=".LetterU" />
        <activity android:name=".LetterV" />
        <activity android:name=".LetterW" />
        <activity android:name=".LetterX" />
        <activity android:name=".LetterY" />
        <activity android:name=".LetterZ" />
        <activity android:name=".Numbers" />
        <activity android:name=".Two" />
        <activity android:name=".Three" />
        <activity android:name=".Four" />
        <activity android:name=".Five" />
        <activity android:name=".Six" />
        <activity android:name=".Seven" />
        <activity android:name=".Eight" />
        <activity android:name=".Nine" />
        <activity android:name=".Ten" />
        <activity android:name=".Leg" />
        <activity android:name=".Nose" />
        <activity android:name=".Hand" />
        <activity android:name=".Eye" />
        <activity android:name=".Ear" />
        <activity android:name=".Anar" />
        <activity android:name=".Banana" />
        <activity android:name=".Graps" />
        <activity android:name=".Mango" />
        <activity android:name=".Orange" />
        <activity android:name=".Tar" />
        <activity android:name=".Bus" />
        <activity android:name=".Red" />
        <activity android:name=".Car" />
        <activity android:name=".Hvicar" />
        <activity android:name=".Hvibike" />
        <activity android:name=".Hvijeep" />
        <activity android:name=".Plane" />
        <activity android:name=".Scorpio" />
        <activity android:name=".Green" />
        <activity android:name=".Brown" />
        <activity android:name=".Blue" />
        <activity android:name=".Bag" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Engvideos" />
        <activity android:name=".Absong1" />
        <activity android:name=".Numsong" />
        <activity android:name=".Fruitvid" />
        <activity android:name=".Vegvid" />
        <activity android:name=".Colvideos" />
        <activity android:name=".Birdvid" />
        <activity android:name=".Trafvid" />
        <activity android:name=".Animalsvid" />
        <activity android:name=".Funvideng" />
        <activity android:name=".Traflearn" />
        <activity android:name=".Parkvid" />
        <activity android:name=".Moonvid" />
        <activity android:name=".Socialvi" />
        <activity android:name=".Bodyvideos" />
    </application>

</manifest>